*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background: purple;
  color: black;
  padding: 15px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
header{
  border:3px solid purple
}

main {
  padding: 100px;
  text-align: center;
  background-color: #f3e0ed;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#f3e0ed;
}
.navbar ul{
  display:flex;
  justify-content: center;
  list-style:none;
}
.navbar ul li a {
  margin-left: 20px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.btn{
  display: inline-block;
  margin-top: 20px;
  padding:10px 20px;
  background:white;
  color:#1b5e20;
  text-decoration:none;
  border-radius:5px;
  font-weight:bold
}
.design{
  transform: rotateX('45deg');
}
.card{
  box-shadow: 0 4px 8px  rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow:hidden;
  transition: transform 0.2s;
}
.card:hover{
  transform: scale(1.05);
}
div{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
  display: inline-block;
}
@media(max-width:786px){
  .navbar{
    flex-direction:column;
    align-items:center;
  }
  .btn{
    width:80%;
    text-align: center;
  }
  h2{
    font-size: 1.5rem;
  }
  p{
    font-size: 0.95rem;
  }
}
img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}
.navbar ul li{
  margin:8px 0;
}
